<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DiningTable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04E0639B1E08FEF4009B8F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E063B71E08FEF4009B8F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E063C21E08FEF4009B8F26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
